{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zeus Infra</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

    
    .shape{
        background: rgba(0, 0, 0, 0.63);
        
    }

    .tile{
        margin-top: 10px;
    }
    #para{
        color: white;
        margin-top: 60px;
    }




</style>


</head>
<body>
    


    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="background: rgba(92, 91, 91, 0.836);">
        <h2 class="brand"> <a class="nav-link active" style="color: black;" href="{% url 'infra:demo_list' %}"> Zeus Infra </a> </h2>
        <nav class="nav  justify-content-end">
                <a class="nav-link active " style="color:white;" href="{% url 'infra:demo_list' %}">Home</a>
                <a class="nav-link active" style="color:white;" href="{% url 'infra:about' %}">About Us</a>
                <a class="nav-link active" style="color:white;" href="{% url 'infra:project' %}">Projects</a>
                <a class="nav-link active" style="color:white;" href="{% url 'infra:contact' %}">Contact Us</a>
              </nav>
    </div>
    
    <div class="container-fluid back">
        <div class="row align-items-center shape">
            <div class="col-md-4 align-self-start">
    
                <h2 class="font-weight-bolder tile" style="color: white;">About Zeus Infra</h2>
    
                <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/external.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mumbai</h5>
                          
                        </div>
                      </div>

            </div>
            <div class="col-md-8">
                <div>
    
                    <p id="para">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates molestias odit doloremque esse
                        nihil rem assumenda cumque cum officia. Ipsa numquam dolores eaque debitis, error necessitatibus
                        veniam quia eos atque!
                    </p>
    
    
                </div>
    
            </div>
        </div>

















    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>