<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zeus Infra</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    body{
        background: rgba(2, 129, 123, 0.651);
    }
    .pad{
        margin-top: 20px;
        margin-left: 40px;
    }


</style>

</head>
<body>
    

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="background: rgba(128, 128, 128, 0.548);">
        <h2 class="brand"> <a class="nav-link active" style="color: black;" href="{% url 'infra:demo_list' %}"> Zeus Infra </a> </h2>
        <nav class="nav  justify-content-end">
                <a class="nav-link active " style="color:black;" href="{% url 'infra:demo_list' %}">Home</a>
                <a class="nav-link active" style="color:black;" href="{% url 'infra:about' %}">About Us</a>
                <a class="nav-link active" style="color:black;" href="{% url 'infra:project' %}">Projects</a>
                <a class="nav-link active" style="color:black;" href="{% url 'infra:contact' %}">Contact Us</a>
              </nav>
    </div>
    


<div class="container-fluid">
    <div class="row ">
        <div class="col-md-4 pad">
            <h3>Contact Us:</h3>
            <h5>Mumbai Office:</h5>
            <p>Lorem ipsum dolor sit, amet consectetur 
                ex, odit libero optio officia repellendus
                nesciunt omnis eveniet aut mollitia temporibus
                sit, reprehenderit ipsum. Quod molestias veniam corrupti.
                <strong>Mumabi:400031</strong>
            </p>

            <h3>Devploved By</h3>
            <p><strong>Ajay Survase</strong></p>
            <p><strong>Mobile No: 9967305059</strong></p>






        </div>









    </div>








</div>



















    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>